
@model MVCSTOK.Models.Entity.TBLURUNLER

@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Ürün Ad</label>
        <input type="text" class="form-control" name="UrunAd" required="" maxlength="20" />
    </div>

    <div>
        <label>Kategori Seçiniz</label>
        @Html.DropDownListFor(m => m.UrunKategori, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
    </div>


    <div>
        <label>Marka</label>
        <input type="text" class="form-control" name="Marka"  required="" placeholder="Buraya Markayı Giriniz" />
    </div>

    <div>
        <label>Fiyat</label>
        <input type="text" class="form-control" name="Fiyat" />
    </div>
    <div>
        <label>Stok Adeti</label>
        <input type="text" class="form-control" name="Stok" />
    </div>




    <div style="margin-top:15px">
        <button class="btn btn-info">Ürün Ekle</button>
    </div>



</form>


@*List<SelectListItem>
    degerler = (from i in db.TBLKATEGORİLER.ToList() select new SelectListItem

    {//tblkategorilerin listesini çek bunuda i değişkenine ata
    Text = i.KategoriAd,
    Value = i.KategoriAd.ToString()
    }).ToList();*@
